<ion-app *ngIf="viewContent">

    <ion-tabs [ngStyle]="{'margin-top': (menuList.length > 1 || !hideSingleSecondaryMenu) ? '60px' : '0px'}">
        <ion-tab-bar slot="top" *ngIf="menuList.length > 1 || !hideSingleSecondaryMenu">
            <div *ngFor="let item of menuList">
                <ion-tab-button [routerLink]="[item.parentSegment,{outlets: { driverOutlet: [item.menuUrl]}}]">
                    <label style="font-size: 15px;" [ngStyle]="{'color': (router.url.includes(item.menuUrl)) ? 'blue' : ''}">{{item.menuTitle}}</label>
                </ion-tab-button>
            </div>
        </ion-tab-bar>

        <ion-router-outlet style="margin-top: 60px;" name="driverOutlet"></ion-router-outlet>

    </ion-tabs>

</ion-app>