<ion-header class="header row" translucent>
    <span class="p-2" style="margin-right:10px;">
        <app-lang-def-button [componentCode]="componentCode">
        </app-lang-def-button>
    </span>
    <ion-title class=" p-2" *ngIf="fromUserProfile">{{uiLabels.pageHeaderChangePass}}</ion-title>
    <ion-title class=" p-2" *ngIf="!fromUserProfile">{{uiLabels.pageHeaderForgetPass}}</ion-title>
</ion-header>

<ion-content>

    <div class="col form">
        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label flex-15">
                    {{uiLabels.userId}}
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <ion-input [(ngModel)]="newIdentification.userId"></ion-input>
                </div>
            </div>
        </div>

        <div class="three-section-list-row" *ngIf="!fromUserProfile">

            <div class="list-value-section">
                <div class="list-section-label flex-15">

                </div>
                <div class="list-section-separator">

                </div>

                <div class="list-section-value">
                    <ion-button [disabled]="(newIdentification.oneTimeAccessFlag=='1') ? 'true' : 'false'" (click)="sendAccessCode()">{{uiLabels.sendAccessCodeBtn}}</ion-button>
                </div>
            </div>
        </div>

        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label flex-15">
                    <label *ngIf="!fromUserProfile">{{uiLabels.accessCode}}</label>
                    <label *ngIf="fromUserProfile">{{uiLabels.currentPassword}}</label>
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <ion-input id="accessCodeField" *ngIf="!fromUserProfile" [(ngModel)]="newIdentification.accessCode"></ion-input>
                    <ion-input id="accessCodeField" *ngIf="fromUserProfile" [(ngModel)]="newIdentification.accessCode"></ion-input>
                </div>
            </div>
        </div>

        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label flex-15">
                    {{uiLabels.newPassword}}
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <ion-input id="newPassField" type="password" matInput [(ngModel)]="newPassword"></ion-input>
                </div>
            </div>
        </div>

        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label flex-15">
                    {{uiLabels.confirmPassword}}
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <ion-input id="confirmPassKey" type="password" [(ngModel)]="confirmPassword" (input)="newPassword.length == confirmPassword.length && checkPasswordSimilarity()"></ion-input>
                </div>
            </div>
        </div>

        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label flex-15">

                </div>
                <div class="list-section-separator">

                </div>

                <div class="list-section-value">
                    <label *ngIf="passwordMatchFlag=='0'" style="color: red;">{{uiLabels.passwordNotMatchLabel}}</label>
                </div>
            </div>
        </div>

        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label" style="flex:2;">
                    <ion-button (click)="closeModal()">{{uiLabels.cancelButton}}</ion-button>
                </div>
                <div class="list-section-separator">

                </div>

                <div class="list-section-value" style="flex:1;">
                    <ion-button id="addBtn" (click)="changePassword()">{{uiLabels.changePassword}}</ion-button>
                </div>
            </div>
        </div>

    </div>

</ion-content>