.typing-demo {
    width: 22ch;
    animation: typing 2s steps(5), blink 2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.three-d-text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 60px;
    font-weight: 700;
    color: #dcdcdc;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.text-shadow{
    font-size: calc(1em + 10vmin);
    font-weight: 900;
    color: rgb(68, 68, 186);

    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: rgb(173, 182, 230);

    text-shadow:

        var(--x-offset) var(--y-offset) 0px var(--background-color),

        calc(var(--x-offset) - var(--stroke)) calc(var(--y-offset) + var(--stroke)) 0px var(--stroke-color);

}