<ion-content *ngIf="viewContent">
    <div style="margin-bottom: 65px;">
        <app-company-name-header></app-company-name-header>
        <ion-header class="header">
            <ion-title><span style="margin-right:10px;">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>{{uiLabels.pageHeader}}
                </span></ion-title>
        </ion-header>

        <ion-card class="col p-2">
            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label" style="flex:100%">
                        {{uiLabels.processorCompanyName}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="flex:100%">
                        {{processorCompanyInfo.companyName}}
                    </div>
                </div>
            </div>

        </ion-card>

        <ion-header class="header row">
            <ion-title>{{uiLabels.tripPackageInfo}}</ion-title>
            <ion-button style="margin-right: 15px;" (click)="receivedWasteWeightConfirmation()">{{uiLabels.confirmPackageWeightButton}}</ion-button>
        </ion-header>

        <ion-card class="col p-2" *ngIf="handoverPackageView">

            <div class="three-section-list-row">
                <div class="list-value-section">
                    <div class="list-section-label" style="flex:100%">
                        {{uiLabels.transporterCompanyName}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="flex:100%">
                        {{transporterCompanyInfo.companyName}}
                    </div>
                </div>
            </div>

            <div class="three-section-list-row">
                <div class="list-value-section">

                    <div class="list-section-label" style="flex:100%">
                        {{uiLabels.driverName}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="flex:100%">
                        {{selectedTrip.driverName}}
                    </div>
                </div>
            </div>
        </ion-card>

        <ion-card class="col p-2" *ngIf="handoverPackageView">
            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="flex:100%">
                        {{uiLabels.selectScale}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="flex:100%">
                        <ion-select [(ngModel)]="weightCertificateInfo.scaleInfo" placeholder={{weightCertificateInfo.scaleInfo.nameOfScale}} interface="popover">
                            <ion-select-option *ngFor="let item of scaleList, index as i" [value]="item" id="scale{{i}}">
                                {{item.nameOfScale}}
                            </ion-select-option>

                        </ion-select>
                    </div>
                </div>

                <div class="list-value-section">

                    <div class="list-section-label" style="flex:100%">
                        {{uiLabels.grossWeight}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="flex:100%">
                        <ion-input type="number" [(ngModel)]="weightCertificateInfo.wasteGrossWeight"></ion-input>
                    </div>
                </div>

                <div class="list-value-section">

                    <div class="list-section-label" style="flex:100%">
                        {{uiLabels.vehicleWeight}}
                    </div>

                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="flex:100%">
                        <ion-input type="number" [(ngModel)]="weightCertificateInfo.vehicleWeight"></ion-input>
                    </div>
                </div>
            </div>
        </ion-card>

        <div style="margin-bottom: 65px;">
            <mat-accordion *ngIf="handoverPackageView" multi>
                <mat-expansion-panel *ngFor="let dispose of loadPackageView.wasteWisePickPackageList" [expanded]="true" style="margin:10px;">
                    <mat-expansion-panel-header style="height: 100%;padding: 10px 15px;background-color: rgb(231, 231, 231); font-weight: 450;">
                        <div class="three-section-list-row wrap">
                            <div class="list-value-section">
                                <div class="list-section-label" style="width:210px;">
                                    {{uiLabels.wasteItemTitle}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value" style="flex:100%">
                                    {{dispose.wasteTitle}}
                                </div>
                            </div>

                            <div class="list-value-section">
                                <div class="list-section-label" style="width:210px;">
                                    {{uiLabels.wasteQuantity}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value" style="flex:100%">
                                    {{dispose.totalQunatity}} {{dispose.pickList[0].pick.disposalInfo.unit}}
                                </div>
                            </div>

                        </div>

                    </mat-expansion-panel-header>
                    <div *ngFor="let pick of dispose.pickList, index as i">
                        <div class="three-section-list-row" style="border-bottom: 1px solid gainsboro;background-color: rgb(248, 248, 248);margin:5px 0px;">

                            <div class="list-value-section">
                                <div class="list-section-label" style="width:120px;">
                                    {{uiLabels.pick}}
                                </div>
                                <div class="list-section-separator">
                                    -
                                </div>

                                <div class="list-section-value" style="flex:100%">
                                    {{i+1}}
                                </div>
                            </div>

                            <div class="list-value-section">
                                <div class="list-section-label" style="width:120px;">
                                    {{uiLabels.projectTitle}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value" style="flex:100%">
                                    {{pick.pick.projectTitle}}
                                </div>
                            </div>

                            <div class="list-value-section">
                                <div class="list-section-label" style="width:120px;">
                                    {{uiLabels.pickQuantity}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value" style="flex:100%">
                                    {{pick.pick.quantity}}
                                </div>
                            </div>

                            <div class="list-value-section">
                                <div class="list-section-label" style="width:210px;">
                                    {{uiLabels.calculatedWasteQuantity}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value" style="flex:100%">
                                    <ion-input [(ngModel)]="pick.pick.declaredQunatity"></ion-input>
                                </div>
                            </div>

                            <!-- <div class="list-value-section" *ngIf="pick.pick.loadStatus=='1'">
                                        <div class="list-section-label" style="width:120px;">
                                            <ion-chip>{{uiLabels.pickStatusLoaded}}</ion-chip>
                                        </div>
                                    </div> -->

                        </div>

                        <div [hidden]="hidePackageDefInfo">
                            <div style="font-size: 15px;font-weight: 450;margin: 5px 0px 5px 15px;">
                                <label>{{uiLabels.packageList}}</label>
                            </div>
                            <!-- let package of pick.packageList -->
                            <div *ngFor="let package of pick.packageList">
                                <ion-card class="p-2" *ngIf="package.pickId==pick.pick.pickId">
                                    <div class="three-section-list-row wrap" *ngIf="package.isLumpsum=='0'">

                                        <div class="list-value-section">
                                            <div class="list-section-label" style="width:150px;">
                                                {{uiLabels.packageSize}}
                                            </div>
                                            <div class="list-section-separator">
                                                :
                                            </div>

                                            <div class="list-section-value" style="flex:100%">
                                                {{package.size}}
                                            </div>
                                        </div>

                                        <div class="list-value-section">
                                            <div class="list-section-label" style="width:150px;">
                                                {{uiLabels.NumOfPackage}}
                                            </div>
                                            <div class="list-section-separator">
                                                :
                                            </div>

                                            <div class="list-section-value" style="flex:100%">
                                                {{package.numberOfPackage}}
                                            </div>
                                        </div>

                                        <div class="list-value-section">
                                            <div class="list-section-label" style="width:150px;">
                                                <span>{{uiLabels.packageQuantity}}</span>
                                            </div>
                                            <div class="list-section-separator">
                                                :
                                            </div>

                                            <div class="list-section-value" style="flex:100%">
                                                {{package.quantity}} {{pick.pick.disposalInfo.unit}}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="three-section-list-row wrap" *ngIf="package.isLumpsum=='1'">

                                        <div class="list-value-section">
                                            <div class="list-section-label" style="width:150px;">
                                                <span>{{uiLabels.lumpsumQunatity}}</span>
                                            </div>
                                            <div class="list-section-separator">
                                                :
                                            </div>

                                            <div class="list-section-value" style="flex:100%">
                                                {{package.quantity}} {{pick.pick.disposalInfo.unit}}
                                            </div>
                                        </div>

                                    </div>
                                </ion-card>
                            </div>
                        </div>



                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>

</ion-content>