<div>
    <app-company-name-header></app-company-name-header>
    <ion-header class="header">
        <ion-title><span style="margin-right:10px;">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>{{uiLabels.pageHeader}}
            </span></ion-title>
    </ion-header>

    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let item of pickGroup | keyvalue" [expanded]="true">

            <mat-expansion-panel-header style="background-color: rgb(235, 235, 235); height: 100%;">

                <div class="three-section-list-row wrap" style="color: black;">

                    <div class="list-value-section">
                        <div class="list-section-label" style="flex:210px;">
                            {{uiLabels.pickLocation}}
                        </div>
                        <div class="list-section-separator">
                            :
                        </div>

                        <div class="list-section-value" style="flex:100%">
                            {{item.value[0].disposalInfo.pickZipCode}}, {{item.key}}
                        </div>

                        <div class="list-section-label" style="width:150px;">
                            <ion-button (click)="showQrCode(item.key)">{{uiLabels.qrCodeButton}}</ion-button>
                        </div>
                    </div>

                </div>

            </mat-expansion-panel-header>

            <ion-card class="three-section-list-row p-1 height-10" style="color: black;" *ngFor="let pick of item.value">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:120px;">
                        {{uiLabels.wasteItemTitle}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value">
                        {{pick.disposalInfo.wasteItemName}}
                    </div>
                </div>

                <div class="list-value-section">
                    <div class="list-section-label" style="width:120px;">
                        {{uiLabels.quantity}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value">
                        {{pick.quantity}}
                    </div>
                </div>

                <div class="list-value-section" *ngIf="pick.loadStatus=='1'">
                    <div class="list-section-label" style="width:120px;">
                        <ion-chip>{{uiLabels.loaded}}</ion-chip>
                    </div>
                </div>

            </ion-card>
        </mat-expansion-panel>
    </mat-accordion>

</div>