<ion-content *ngIf="viewContent">
    <app-company-name-header></app-company-name-header>

    <ion-header class="header">
        <ion-title><span style="margin-right:10px;">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>
                {{uiLabels.pageHeader}}
            </span></ion-title>
    </ion-header>
    <div class="col form">
        <div class="three-section-list-row">
            <div class="list-value-section">
                <div class="list-section-label flex-15">
                    {{uiLabels.dateLabel}}
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <app-date-time-input [modelObject]="tripDate" [modelDateAttributeName]="'date'"></app-date-time-input>
                </div>

                <div class="list-section-value">
                    <ion-button style="margin-left: 10px;" (click)="getDriverTripPlan(loggedUserId,tripDate.date)">{{uiLabels.loadTripList}}</ion-button>
                </div>
            </div>

        </div>
    </div>
    <ion-header class="header">
        <ion-title>{{uiLabels.tripList}}</ion-title>
    </ion-header>
    <div style="margin-bottom: 65px;">
        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let trip of driverTripPlan" style="color: black;margin: 10px 5px;">
                <mat-expansion-panel-header style="height: 100%;background-color: rgb(236, 236, 236);">
                    <div class="column fx-1">
                        <div class="three-section-list-row wrap">

                            <div class="list-value-section">
                                <div class="list-section-label" style="width:100px;">
                                    {{uiLabels.driverName}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value">
                                    {{trip.driverName}}
                                </div>
                                <div class="list-section-label">
                                    <ion-button class="list-button-light">{{uiLabels.pickListButton}}</ion-button>
                                </div>
                            </div>
                            <!-- <div class="list-value-section">

                                
                            </div> -->

                        </div>
                        <div class="three-section-list-row wrap">

                            <div class="list-value-section">
                                <div class="list-section-label" style="width:100px;">
                                    {{uiLabels.tripTime}}
                                </div>
                                <div class="list-section-separator">
                                    :
                                </div>

                                <div class="list-section-value">
                                    {{trip.startTime.substring(0,2)}}:{{trip.startTime.substring(2)}} - {{trip.endTime.substring(0,2)}}:{{trip.endTime.substring(2)}}
                                </div>
                            </div>
                            <!-- <div class="list-value-section">


                                <div class="list-section-value">

                                </div>
                            </div> -->

                        </div>
                    </div>
                </mat-expansion-panel-header>

                <ion-card *ngFor="let item of trip.pickGroup | keyvalue">
                    <div>
                        <div>
                            <div class="three-section-list-row wrap" style="color: black;">

                                <div class="list-value-section">
                                    <div class="list-section-label" style="width:120px;">
                                        {{uiLabels.pickLocation}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>

                                    <div class="list-section-value">
                                        {{item.value[0].disposalInfo.pickZipCode}}, {{item.key}}
                                    </div>

                                    <div class="list-section-label" style="width:120px;">
                                        <ion-button (click)="generateHandoverQrCode(trip,item.value)">{{uiLabels.qrCodeButton}}</ion-button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- <ion-item-divider></ion-item-divider> -->

                        <div *ngFor="let pick of item.value">
                            <div class="three-section-list-row p-2" style="color: black;">

                                <div class="list-value-section">
                                    <div class="list-section-label" style="width:120px;">
                                        {{uiLabels.wasteItemTitle}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>

                                    <div class="list-section-value">
                                        {{pick.disposalInfo.wasteItemName}}
                                    </div>
                                </div>

                                <div class="list-value-section">
                                    <div class="list-section-label" style="width:120px;">
                                        {{uiLabels.quantity}}
                                    </div>
                                    <div class="list-section-separator">
                                        :
                                    </div>

                                    <div class="list-section-value">
                                        {{pick.quantity}}
                                    </div>
                                </div>

                                <div class="list-value-section">
                                    <div class="list-section-label" style="width:120px;">
                                        <ion-chip *ngIf="pick.loadStatus=='1'">{{uiLabels.loaded}}</ion-chip>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </ion-card>

                <!-- <div *ngFor="let pick of item.pickList, index as i" class="column fx-1">
                    <div class="three-section-list-row" style="border-bottom: 1px solid gainsboro;padding: 10px 0px 10px 0px;">

                        <div class="list-value-section">
                            <div class="list-section-label" style="width:90px;">
                                {{uiLabels.pick}}
                            </div>
                            <div class="list-section-separator">
                                -
                            </div>

                            <div class="list-section-value" style="flex:100%">
                                {{i+1}}
                            </div>
                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label" style="width:90px;">
                                {{uiLabels.projectTitle}}
                            </div>
                            <div class="list-section-separator">
                                :
                            </div>

                            <div class="list-section-value" style="flex:100%">
                                {{pick.projectTitle}}
                            </div>
                        </div>

                        <div class="list-value-section">
                            <div class="list-section-label" style="width:90px;">
                                {{uiLabels.pickQuantity}}
                            </div>
                            <div class="list-section-separator">
                                :
                            </div>

                            <div class="list-section-value" style="flex:100%">
                                {{pick.quantity}} {{pick.disposalInfo.unit}}
                            </div>
                        </div>
                        <div class="list-value-section">
                            <div class="list-section-label" style="width:90px;" *ngIf="pick.loadStatus=='1'">
                                <ion-chip>{{uiLabels.pickStatusLoaded}}</ion-chip>
                            </div>

                            <div class="list-section-label" style="width:90px;" *ngIf="pick.loadStatus!='1'">
                                <ion-button  (click)="loadPick(item,i)">{{uiLabels.loadButton}}</ion-button>
                            </div>

                            <div class="list-section-label" style="width:90px;">
                                <ion-button  (click)="showPickDetail(item,i)">{{uiLabels.viewPickDetail}}</ion-button>
                            </div>
                        </div>

                    </div>

                </div> -->
            </mat-expansion-panel>
        </mat-accordion>


    </div>
</ion-content>