<ion-content>
    <ion-content style="margin-bottom: 65px;margin-top: 150px;">
        <app-company-name-header></app-company-name-header>
        <ion-header class="row header">
            <ion-title><span style="margin-right:10px;">
                    <app-lang-def-button [componentCode]="componentCode">
                    </app-lang-def-button>
                    {{uiLabels.pageHeader}}
                </span>
            </ion-title>

            <!-- <ion-button (click)="showCompanyTripList()" style="margin-right: 15px;">{{uiLabels.tripListButton}}</ion-button> -->
        </ion-header>

        <!-- <div class="row center" style="padding: 20px 0px 20px 0px;">
            <ion-button (click)="openScanner()">{{uiLabels.openScannerButton}}</ion-button>
        </div> -->

        <ion-header class="row header">
            <ion-title>{{uiLabels.tripInfo}}</ion-title>
            <ion-button (click)="showCompanyTripList()" style="margin-right: 15px;">{{uiLabels.tripListButton}}</ion-button>
            <!-- <ion-button *ngIf="driverTripPlan && driverTripPlan.tripInfoId" (click)="showWastePickList()" style="margin-right: 15px;">{{uiLabels.wasteList}}</ion-button> -->
            <ion-button *ngIf="driverTripPlan && driverTripPlan.tripInfoId" s (click)="handOverButton()" style="margin-right: 25px;">{{uiLabels.handOverButton}}</ion-button>
        </ion-header>

        <div class="col" *ngIf="driverTripPlan && driverTripPlan.tripInfoId" style="margin-bottom: 65px;">

            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.vehicleName}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{driverTripPlan.vehicleInfo.manufacturerName}}
                    </div>
                </div>
            </div>


            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.vehicleRegNo}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{driverTripPlan.vehicleInfo.vehicleRegNo}}
                    </div>
                </div>
            </div>

            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.driverName}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{driverTripPlan.driverName}}
                    </div>
                </div>
            </div>

            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.driverLicenseNo}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{driverTripPlan.driverLicenseNo}}
                    </div>
                </div>
            </div>

            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.tripDate}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{driverTripPlan.pickUpDateView.substring(0,driverTripPlan.pickUpDateView.indexOf(" "))}}
                    </div>
                </div>
            </div>

            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.pickLocation}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{scannedTripInfo.pickLocation}}
                    </div>
                </div>
            </div>

            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.companyName}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{transporterCompanyInfo.companyName}}
                    </div>
                </div>
            </div>

            <div class="three-section-list-row wrap">

                <div class="list-value-section">
                    <div class="list-section-label" style="width:150px;">
                        {{uiLabels.contactNo}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value" style="width:100%">
                        {{transporterCompanyInfo.personInChargeContact}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!driverTripPlan || !driverTripPlan.tripInfoId">
            No Trip Found
        </div>
    </ion-content>
</ion-content>