<ion-content *ngIf="viewContent">
    <app-company-name-header></app-company-name-header>
    <ion-header class="header">
        <ion-title><span style="margin-right:10px;">
                <app-lang-def-button [componentCode]="componentCode">
                </app-lang-def-button>{{uiLabels.pageHeader}}
            </span></ion-title>
    </ion-header>
    <div class="col form">
        <div class="three-section-list-row">

            <div class="list-value-section">
                <div class="list-section-label flex-15">
                    {{uiLabels.dateLabel}}
                </div>
                <div class="list-section-separator">
                    :
                </div>

                <div class="list-section-value">
                    <app-date-time-input [modelObject]="tripDate" [modelDateAttributeName]="'date'"></app-date-time-input>
                </div>

                <div class="list-section-value">
                    <ion-button style="margin-left: 10px;" (click)="getDriverTripPlan(driverUserId,tripDate.date)">{{uiLabels.loadTripList}}</ion-button>
                </div>
            </div>

        </div>
    </div>
    <ion-header *ngIf="!hideDriverUnloadDashboardTripList" class="header">
        <ion-title>{{uiLabels.tripList}}</ion-title>
    </ion-header>

    <div style="margin-bottom: 65px;">
        <mat-expansion-panel class="column" *ngFor="let item of driverTripPlan" style="margin: 5px;">
            <mat-expansion-panel-header class="three-section-list-row" style="color: black;background-color: rgb(236, 236, 236);">

                <div class="list-value-section">
                    <div class="list-section-label flex-15">
                        {{uiLabels.tripTime}}
                    </div>
                    <div class="list-section-separator">
                        :
                    </div>

                    <div class="list-section-value">
                        {{item.startTime.substring(0,2)}}:{{item.startTime.substring(2)}} - {{item.endTime.substring(0,2)}}:{{item.endTime.substring(2)}}
                    </div>
                </div>

            </mat-expansion-panel-header>

            <div class="row" style="padding-left: 20px;padding-top: 10px;" *ngFor="let eachPickGroup of item.pickGroup| keyvalue">
                <div class="col fx-2">
                    <label>{{uiLabels.dropLocation}} : {{eachPickGroup.value[0].disposalInfo.dropZipCode}}, {{eachPickGroup.key}}</label>
                </div>

                <div class="col fx-1 right">
                    <ion-button style="margin-right: 10px;" (click)="generateHandoverQrCode(item,eachPickGroup.value)">{{uiLabels.generateWasteUnloadQrCode}}</ion-button>
                </div>

                <div class="col fx-1 right">
                    <ion-button style="margin-right: 10px;" (click)="showDropLocationUnloadDetails(item,eachPickGroup.value)">{{uiLabels.dropUnloadDetails}}</ion-button>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
</ion-content>