<div style="max-height: 30px;padding: 10px;">
    <div class="row center">
        <div class="col left">
            <p>Install DX-R mobile app on your phone. Tap <span>
                    <ion-icon style="color: rgb(89, 89, 255);font-size: 20px;" name="share"></ion-icon>
                </span> and them 'Add to Home Screen'</p>
        </div>
        <div class="col right" style="padding: 0px 5px">
            <ion-icon style="font-size: 25px;" name="close" (click)="closeModal()"></ion-icon>
        </div>
    </div>
</div>